{
    ApplicationDescription = "A password manager";
    ApplicationName = Pass;
    ApplicationRelease = "0.1";
    Authors = (
	"Patrick CARDONA"
    );
    Copyright = "Copyright (C) 2026 - Part of Agnostep project";
    CopyrightDescription = "Released under GNU General Public License 3.0";
    FullVersionID = "0.1";
    NSExecutable = Pass;
    NSIcon = "pass.tiff";
    GSHelpContentsFile = "Pass.help";
    NSMainNibFile = ;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    
}
