<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Cuckoo</key>
    <string>YES</string>
    <key>FaceTransparency</key>
    <real>1</real>
    <key>FrameColor</key>
    <string>0.356863 0.372549 0.419608 1.000000</string>
    <key>IncreasesVolume</key>
    <string>YES</string>
    <key>MarksColor</key>
    <string>0.442748 0.442748 0.442748 1.000000</string>
    <key>NumberType</key>
    <string>1</string>
    <key>RefreshRate</key>
    <real>0</real>
    <key>RingLoop</key>
    <string>0</string>
    <key>Shadow</key>
    <string>NO</string>
    <key>ShowsAMPM</key>
    <string>NO</string>
</dict>
</plist>