  NSServices = (
    {
      NSPortName = openWithDico;
      NSMessage = openWordSelected;
      NSSendTypes = (
	NSStringPboardType
      );
      NSMenuItem = {
	default = "Open with Dico";
	English = "Open with Dico";
	French = "Ouvrir avec Dico";
      };
      NSKeyEquivalent = {
	default = O;
	English = O;
      };
    },
  );
