{
  NSExecutable = "Firefox";
  NSRole = "Viewer";
  NSIcon = "Firefox.tiff";
  CFBundleIdentifier = "org.mozilla.Firefox";
  XAppWrapper = YES;
  CFBundleURLTypes = (
  	{
		CFBundleTypeRole = "Viewer";
		CFBundleURLSchemes = (
		    http,
		   https
	    );
	}
  );
  NSTypes = (
    {
      NSUnixExtensions = ( "html" );
      NSIcon = "FileIcon_.html.tiff";
    },
    {
      NSUnixExtensions = ( "htm" );
      NSIcon = "FileIcon_.html.tiff";
    },
    {
     NSUnixExtensions = ( "url" );
     NSIcon = "FileIcon_url.tiff";
    }  
  );
}
