{
    ApplicationDescription = "A scanner frontend for GNUstep";
    ApplicationIcon = "ScanImage.tiff";
    ApplicationName = ScanImage;
    ApplicationRelease = "0.1";
    Copyright = "Copyright (C) 2022-2026 - gs-desktop";
    CopyrightDescription = "Released under the GNU General Public Licence (GPL)";
    FullVersionID = "0.1";
    Authors = ("Ondrej Florian", "Patrick Cardona (Localization)");
    CFBundleIdentifier = "org.gsde.ScanImage";
    NSExecutable = ScanImage;
    NSIcon = "ScanImage.tiff";
    NSMainNibFile = "ScanImage.gorm";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}